<% provide(:title, 'About') %>
<h1>About</h1>
<p>
    Imagineering Everest is a site dedicated to the amazing Expedition Everest at Walt Disney's Animal Kingdom theme
    park. The site is intended to describe the process that went in to creating this amazing attraction and creating
    a modern day 'classic'.
</p>