<% provide(:title, 'Imagineering') %>
<div class="hero-unit" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <h1>Imagineering</h1><br/><br/>

    <p style="text-align: left;">
      Imagineering is the term used by The Walt Disney Company to describe the imagination and engineering that
      goes in to creating their attractions (including theme parks and resorts). Expedition Everest would prove to be
      an incredibly challenging endeavor for the Walt Disney World Imagineering division.
    </p><br/>

    <p>
      Opening in 2006, Expedition Everest was a game changer for Disney's Animal Kingdom (DAK). Previously, DAK had the
      reputation of being a half day "zoo like" theme park that didn't attract the volume of visitors seen at other
      Disney theme parks. DAK needed something to draw in excited theme park guests. Under the guidance of DAK
      visionary Joe Rohde, Disney sent their Imagineers to the Himalayas to perform research for the attraction and
      generate design ideas. This research would prove invaluable as Expedition Everest has become one of the most
      beloved attractions at Walt Disney World.
    </p><br/>

    <p>
      <h3 style="text-align: center;">Interesting facts about Everest</h3>
      <br/><p style="text-align: center;">(obtained from: <a href="http://en.wikipedia.org/wiki/Expedition_Everest" target="_blank">
        Expedition Everest Wiki</a>)</p><br/>
      <table border="1" style="margin-left: auto;
              margin-right: auto;">
        <tr><td>Opening Date</td><td>April 7, 2006</td></tr>
        <tr><td>Cost</td><td>US$100,000,000</td></tr>
        <tr><td>Type</td><td>Steel</td></tr>
        <tr><td>Lift System</td><td>Chain Lift Hill</td></tr>
        <tr><td>Height</td><td>112 ft</td></tr>
        <tr><td>Length</td><td>4,424 ft</td></tr>
        <tr><td>Drop</td><td>80 ft</td></tr>
        <tr><td>Speed</td><td>50 mph</td></tr>
        <tr><td>Duration</td><td>3.5 minutes</td></tr>
        <tr><td>Restraint</td><td>Individual Lap Bar</td></tr>
        <tr><td>Projected Hourly Ride Capacity</td><td>2,050 guests</td></tr>
      </table>
    </p><br/>

    <p>
      The video below is an amazing broadcast provided by Disney and the Discovery networks detailing the work behind
      Expedition Everest and was shown in conjunction with promotional material for the ride.
    </p><br/>
    <p style="text-align: center;">
    <iframe width="420" height="315" src="http://www.youtube.com/embed/2HOiVnUDcOc" frameborder="0"
          allowfullscreen></iframe>
    </p>


</div>